#sbspf_admin h2{
    padding: 15px 0 0 0;
    clear: both;
}
#sbspf_admin hr {
    border: none;
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
}
#sbspf_admin .sbspf_spinner {
    float: none;
}
#sbspf_admin .sbspf_success {
    display: inline-block;
    position: relative;
    margin: 4px 12px 0;
}
#sbspf_admin .sbspf_success svg {
    vertical-align: bottom;
    width: 16px;
    color: #7ad03a;
}
#sbspf_admin .sbspf_fade {
    opacity: .6;
}
#sbspf_admin .sbspf_aside {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    margin: .3em 0;
}
#sbspf_admin .sbspf_red {
    color: #eb381c;
}
#sbspf_admin #sbspf_get_token:hover{
    background-color: #3880c4;
    color: #fff;

    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
/* Tooltips */
#sbspf_admin .sbspf_tooltip {
    display: none;
}
#sbspf_admin .sbspf_tooltip_link {
    font-size: 13px;
    margin-left: 10px;
}
#sbspf_admin .sbspf_tooltip_link svg,
#sbspf_admin .sbspf_layouts svg,
.sbspf_small_svg {
    width: 13px;
}
#sbspf_admin .sbspf_more_info{
    clear: both;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 13px;
    background: #f9f9f9;
    background: rgba(255,255,255,0.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
#sbspf_admin .postbox .sbspf_more_info{
    background: #eee;
    background: rgba(0,0,0,0.05);
}
#sbspf_admin .sbspf_more_info p{
    font-size: 13px;
}
#sbspf_admin .sbspf_tooltip_link {
    vertical-align: top;
}
#sbspf_admin .sbspf_tooltip_link svg {
    vertical-align: bottom;
}
#sbspf_admin .sbspf-highlight{
    background: #ffed51;
    font-weight: bold;
    color: black;
}

/* Quick Start */
#sbspf_admin .sbspf-quick-start{
    display: block;
    float: left;
    clear: both;
    margin: 15px 0 0 0;
    padding: 15px 25px 15px 20px;

    border: 1px solid #ccc;
    background: #eee;
    background: rgba(255,255,255,0.5);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#sbspf_admin .sbspf-quick-start h3,
#sbspf_admin .sbspf-quick-start p{
    margin: 0;
    padding: 5px 0;
}
#sbspf_admin .sbspf-success{
    font-size: 14px;
}
#sbspf_admin .sbspf-footnote{
    width: 100%;
    float: left;
    clear: both;
    padding: 20px 0 0 0;
    border-top: 1px solid #ccc;
    margin: 20px 0 0 0;
}
#sbspf_have_own_tokens {
    margin: 1px 6px 0 0;
}
#sbspf_width_options {
    margin-top: 8px;
}
/* Pro Notice */
#sbspf_admin .sbspf-pro-notice,
#sbspf_admin .sbspf-pro-notice img{
    display: block;
    float: left;
    clear: both;
    margin: 20px 0 0 0;
    overflow: hidden;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#sbspf_admin .sbspf-pro-notice img{
    margin: 0;
}
#sbspf_admin .sbspf-pro-notice:hover{
    opacity: 0.95;

    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/* General Formatting */
#sbspf_admin .sbspf_note {
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
}
#sbspf_admin .sbspf_shortcode {
    position: absolute;
    z-index: 10;
    font-size: 11px;
    float: left;
    width: auto;
    white-space: pre-line;
    line-height: 1.4;
    max-width: 195px;
}
.sbspf_size_4 {
    max-width: 60px;
}
#sbspf_admin td textarea {
    width: 100%;
    max-width: 700px;
}
#sbspf_admin .sbsw-sc-generator-wrap textarea{
    width: 100%;
    max-width: 100%;
    min-height: 162px;
    padding: 10px 15px;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.1);

    box-sizing: border-box;
    white-space: pre;
    font-family: Menlo,Monaco,monospace;
}
.sbsw-sc-generator-wrap {
    margin-bottom: 20px;
}
@-webkit-keyframes sbsw-flash {
    0% {
        background-color: #dceada;
        opacity:1;
        border: 1px solid #6ca365;
    }
    100% {
        background-color: rgba(255,255,255,0.5);
    }
}
#sbspf_admin .sbsw-updated-field{
    border: 1px solid #ddd;
    background: rgba(255,255,255,0.5);

    -webkit-animation-name: sbsw-flash;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: sbsw-flash;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}

/* Lock floating on top */
.sbspf_lock {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 18px;
    padding: 4px 10px;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    color: #333;
    z-index: 99;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #333;
}

.sbspf_lock svg {
    height: 11px;
    margin-right: 4px;
}

/* Types */
#sbspf_admin .sbspf_row{
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 5px;
}
#sbspf_admin .sbspf_col{
    float: left;
}
#sbspf_admin .sbspf_col.sbspf_one{
    width: 138px;
}
#sbspf_admin .sbspf_col.sbspf_two{
    width: 73%;
}
#sbspf_admin .sbspf_row input[type=radio]{
    margin: 5px 2px 0 0;
}
#sbspf_admin .sbspf_radio_label {
    padding-top: 4px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

/* Log In Get Access Token Button */
#sbspf_admin #sbspf_get_token{
    display: block;
    float: left;
    clear: both;
    padding: 0 21px;
    height: 47px;
    line-height: 47px;
    font-size: 14px;

    background: #386793;

    color: #e9eef3;
    text-decoration: none;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Connected Accounts */
#sbspf_get_token svg {
    width: 29px;
    margin-right: 10px;
    position: relative;
    top: 7px;
}
#sbspf_admin .sbspf_connected_account {
    position: relative;
    box-sizing: border-box;
    padding: 10px 35px 10px 10px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 5px;
    overflow: hidden;
    clear: both;
    border: 1px solid #ddd;
    max-width: 700px;
}
#sbspf_admin .sbspf_connected_account .sbspf_ca_accesstoken input {
    min-height: auto;
    line-height: 1;
}
#sbspf_admin .sbspf_ca_user_id{
    width: 275px;
}
#sbspf_admin .sbspf_ca_refresh_token {
    width: 510px;
}
#sbspf_admin .sbspf_connected_account svg {
    vertical-align: bottom;
}
#sbspf_admin .sbspf_ca_username {
    line-height: 1.4;
    margin-left: 15px;
    float: left;
    font-size: 18px;
}
#sbspf_admin .sbspf_connected_account .sbspf_ca_avatar{
    margin-right: 15px;
}
#sbspf_admin .sbspf_connected_account .sbspf_ca_username {
    margin-left: 0;
    margin-right: 15px;
}
#sbspf_admin .sbspf_connected_account .sbspf_ca_username strong{
    float: left;
}
#sbspf_admin .sbspf_connected_account .sbspf_ca_username span{
    font-size: 10px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    display: block;
}

#sbspf_admin .sbspf_ca_actions {
    display: inline-block;
}
#sbspf_admin .sbspf_ca_actions .fa,
#sbspf_admin .sbspf_ca_actions svg{
    margin-right: 5px;
}
#sbspf_admin .sbspf_ca_actions a.button-primary,
#sbspf_admin .sbspf_ca_actions a.button-secondary,
#sbspf_admin .sbspf_ca_accesstoken a.sbspf_ca_token_shortcode {
    font-size: 12px;
    padding: 6px;
    height: auto;
    line-height: 1;
    margin: 7px 5px 0 0;
    vertical-align: top;
}
#sbspf_admin .sbspf_ca_at_is_valid {
    margin-top: 10px;
    display: none;
}

@-webkit-keyframes sbspf_flash {
    0% {
        background-color: #cae2a5;
        opacity:1;
        border: 1px solid #b2ce88;
    }
    100% {
        background-color: #fff;
    }
}
#sbspf_admin .sbspf_account_updated{
    border: 1px solid #ddd;
    background: #fff;

    -webkit-animation-name: sbspf_flash;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: sbspf_flash;
    -moz-animation-duration: 700ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}

#sbspf_admin .sbspf_account_active{
    border: 1px solid #b2ce88;
    background: #ecf2e3;
}

#sbspf_admin .sbspf_ca_alert {
    display: none;
}
#sbspf_admin .sbspf_ca_alert {
    padding: 5px 10px;
    margin: 0px 0 12px 0;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid;
}
#sbspf_admin .sbspf_ca_updated {
    display: inline-block;
    background: #d3dec1;
    color: #2e4506;
    border-color: #a9b594;
}
#sbspf_admin .sbspf_account_invalid .sbspf_ca_alert {
    display: inline-block;
}
#sbspf_admin .sbspf_ca_avatar{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
#sbspf_admin .sbspf_ca_accesstoken{
    display: none;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 10px;
}
#sbspf_admin .sbspf_ca_token_label{
    display: inline-block;
    position: relative;
    background: #f9f9f9;
    color: #555;
    padding: 3px 5px;
    font-size: 12px;
    border: 1px solid #d6d6d6;
    height: 16px;
    line-height: 15px;
    border-radius: 4px 0 0 4px;
    min-width: 80px;
    margin-bottom: 2px;
}
#sbspf_admin .sbspf_permissions_desc,
#sbspf_admin .sbspf_ca_token,
#sbspf_admin .sbspf_ca_refresh_token,
#sbspf_admin .sbspf_ca_user_id {
    padding: 3px 10px;
}

#sbspf_admin .sbspf_ca_token,
#sbspf_admin .sbspf_ca_user_id,
#sbspf_admin .sbspf_ca_refresh_token{
    position: relative;
    top: 1px;
    border: 1px solid #d6d6d6;
    border-left: none;
    font-size: 13px;
    border-radius: 0 4px 4px 0;
    background: rgba(255,255,255,0.8);
    display: inline-block;
    margin-left: 0;
}
#sbspf_admin .sbspf_ca_token {
    width: 510px;
}
#sbspf_admin .sbspf_ca_accesstoken a.sbspf_ca_token_shortcode{
    margin: 0 8px 8px;
    padding: 6px;
    height: auto;
    line-height: 1;
}

#sbspf_admin .sbspf_delete_account{
    position: absolute;
    right: 10px;
    top: 10px;

    padding: 5px 10px;
    background: rgba(0,0,0,0.05);
    color: #666;
    border-radius: 50px;
    text-decoration: none;
    font-size: 12px;
}
#sbspf_admin .sbspf_delete_account:hover,
#sbspf_admin .sbspf_delete_account:focus{
    background: #333;
    color: #ddd;
}
#sbspf_admin .sbspf_ca_delete a {
    display: block;
    height: 13px;
    padding: 5px 6px;
}
#sbspf_admin .sbspf_ca_delete svg {
    height: 12px;
    line-height: 1;
    padding-bottom: 2px;
}
#sbspf_admin .sbspf_delete_account .sbspf_remove_text{
    margin-left: 5px;
}

.sbspf_connected_accounts_wrap{
    vertical-align: top;
}
#sbspf_admin .sbspf_no_accounts{
    display: inline-block;
    padding: 4px 15px;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    margin-bottom: 3px;
}
#sbspf_admin #sbspf_manual_submit:active{
    vertical-align: unset;
}
#sbspf_admin .sbspf_manually_connect_wrap{
    padding-top: 5px;
}
#sbspf_admin .sbspf_user_feed_account_wrap:first-child,
#sbspf_admin .sbspf_tagged_feed_account_wrap:first-child{
    padding-top: 5px;
}
#sbspf_admin .sbspf_user_feed_account_wrap:last-child,
#sbspf_admin .sbspf_tagged_feed_account_wrap:last-child{
    padding-bottom: 6px;
}
#sbspf_admin .sbspf_user_feed_account_wrap,
#sbspf_admin .sbspf_tagged_feed_account_wrap{
    padding-bottom: 5px;
    padding-left: 2px;
}
#sbspf_admin .sbspf_user_feed_account_wrap span,
#sbspf_admin .sbspf_tagged_feed_account_wrap span{
    font-size: 13px;
}
#sbspf_admin .sbspf_manual_account_id_toggle label{
    display: block;
    margin: 10px 0 0 0;
    font-size: 13px;
}
#sbspf_admin .sbspf_business_profile_tag{
    display: none;
    padding: 8px 10px;
    background: rgba(0,0,0,0.05);
    border-radius: 0 5px 5px 0;
    margin: 0 0 0 -2px;
    font-size: 13px;
    height: 15px;
    line-height: 15px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
#sbspf_admin .sbspf_ca_info{
    overflow: hidden;
}
#sbspf_admin .sbspf_ca_show_token .fa,
#sbspf_admin .sbspf_ca_show_token svg{
    margin-right: 0;
}
#sbspf_admin .sbspf_ca_show_token{
    display: inline-block;
    padding: 10px 5px 0px 5px;
    margin: 0;
    font-size: 12px;
    vertical-align: top;
}
#sbspf_admin .sbspf_ca_shortcode{
    display: none;
    padding: 0;
    width: 100%;
    float: left;
    clear: both;
    margin: 10px 0 0 0;
}
#sbspf_admin .sbspf_ca_shortcode p{
    padding-bottom: 10px;
    font-size: 13px;
}
#sbspf_admin .sbspf_ca_shortcode code{
    margin-top: 5px;
    display: inline-block;
}
#sbspf_admin .sbspf_user_feed_ids_wrap .sbspf_ca_avatar{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 8px;
    border-radius: 4px;
}


@media all and (max-width: 1200px){
    #sbspf_admin .sbspf_delete_account .sbspf_remove_text{
        display: none;
    }
    #sbspf_admin .sbspf_ca_token,
    #sbspf_admin .sbspf_ca_user_id{
        border-left: 1px solid #d6d6d6;
        border-radius: 4px;
    }
    #sbspf_admin .sbsw-default-feed-wrap{
        width: 32%;
        max-width: 32%;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 850px){
    #sbspf_admin .sbsw-default-feed-wrap{
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    #sbspf_admin .sbspf_col.sbspf_one {
        width: 25%;
        margin-right: 5%;
    }
    #sbspf_admin .sbspf_col.sbspf_two{
        width: 70%;
    }
}

/* Configure */
#sbspf_config {
    float: left;
    width: 100%;
    clear: both;
    margin: 10px 0 10px 0;
}
#sbspf_config .sbspf_not_working {
    position: relative;
    top: 14px;
    left: 15px;
}
/* Caching settings */
#sbspf_admin #sbspf-caching-time-settings{
    display: inline-block;
}
#sbspf_admin .sbspf-caching-cron-options .submit{
    display: inline-block;
    margin: 0;
    padding: 0;
}
#sbspf_admin .sbspf-caching-sched-notice{
    font-size: 11px;
    display: block;
    width: 100%;
}
#sbspf_admin .sbspf-caching-sched-notice span{
    color: green;
    background: #e5eae1;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccd3c6;
    display: inline-block;
}
#sbspf_admin .sbspf_cron_cache_opts .sbspf_row{
    padding: 3px 0;
}
#sbspf_admin .sbspf_cron_cache_opts .sbspf_row label {
    display: inline-block;
    margin: 5px 2px 0 0;
}

/* Layout */
.form-table .sbspf_layout_type {
    display: inline-block;
    margin-left: 20px;
}
.form-table .sbspf_layout_type:first-child {
    margin-left: 0;
}
.sbspf_layout_setting,
.sbspf_sub_option_setting{
    margin-bottom: 20px;
}
.sbspf_layout_setting:last-child,
.sbspf_box_setting:last-child,
.sbspf_sub_option_setting:last-child{
    margin-bottom: 0;
}
.sbspf_layout_setting label,
.sbspf_box_setting label {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
    padding-right: 5px;
}
#sbspf_admin .sbspf_layout_options_wrap .sbspf_shortcode_symbol{
    bottom: 4px;
    right: -20px;
}
#sbspf_admin .sbspf_layout_options_wrap .sbspf_shortcode,
#sbspf_admin .sbspf_box_setting .sbspf_shortcode{
    position: relative;
    float: none;
    top: -4px
}
.sbspf_layout_cell,
.sbspf_sub_option_cell{
    padding: 0;
    display: inline-block;
    float: left;
    width: 155px;
    padding: 15px 15px 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f6f6f6;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    vertical-align: top;
}
.sbspf_layout_cell:nth-child(4) {
    margin-right: 0;
}
@media all and (max-width: 1200px){
    .sbspf_layout_cell,
    .sbspf_sub_option_cell{
        width: 21%;
        padding: 1%;
        margin-right: 1%;
    }
    .sbspf_sub_option_cell {
        width: 30%;
    }
}
@media all and (max-width: 480px){
    .sbspf_layout_cell,
    .sbspf_sub_option_cell{
        width: 98%;
        padding: 1%;
        margin: 5px 0;
    }
}
.sbspf_label {
    font-size: 16px;
    font-weight: bold;
    padding-left: 2px;
}
.sbspf_layout_cell:hover,
.sbspf_layout_cell:focus,
.sbspf_sub_option_cell:hover,
.sbspf_sub_option_cell:focus{
    background: #fcfcfc;
    cursor: pointer;
}
.sbspf_layout_cell.sbspf_layout_selected,
.sbspf_sub_option_cell.sbspf_sub_option_selected{
    background: #f7faf1;
    border: 1px solid #7ad03a;
}
.sbspf_layout_cell h3
.sbspf_sub_option_cell h3 {
    font-size: 15px;
    margin-top: 0;
}
.sbspf_layout_cell img,
.sbspf_sub_option_cell img {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 5px;
}
#sbspf_admin .sbspf_layout_settings,
#sbspf_admin .sbspf_sub_option_settings,
#sbspf_admin .sbspf_box_settings{
    float: left;
    clear: both;
    width: 96%;
    max-width: 700px;

    padding: 20px 2%;
    margin: 0 0 10px 0;
    font-size: 13px;
    background: #f9f9f9;
    background: rgba(255,255,255,0.8);

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.sbspf_layout_setting,
.sbspf_sub_option_setting{
    clear:left;
    margin-bottom: 20px;
}
#sbspf_admin .sbspf_layout_options_wrap .sbspf-tooltip,
#sbspf_admin .sbspf_box_setting .sbspf-tooltip{
    width: 98%;
    padding: 10px 1%;
    background: #eee;
    background: rgba(0,0,0,0.05);
}
#sbspf_admin .sbspf_layout_mobile_layout_setting {
    width: auto;
}

/* Display Tab */
#sbspf_admin table.sbspf_shortcode_table{
    border-collapse: collapse;
}
#sbspf_admin table.sbspf_shortcode_table th,
#sbspf_admin table.sbspf_shortcode_table td{
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
#sbspf_admin table.sbspf_shortcode_table th{
    background: rgba(0,0,0,0.1);
}
#sbspf_admin table.sbspf_shortcode_table td{
    background: rgba(255,255,255,0.5);
}
#sbspf_admin .sbspf_table_header{
    background: #ddd;
    font-weight: bold;
}

/* Modal */

#sbspf_modal_overlay{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0,0,0,0.3);
}
#sbspf_modal_overlay .sbspf_modal{
    position: absolute;
    top: 160px;
    left: 50%;
    width: 450px;

    margin: 0 0 0 -230px;
    padding: 20px;
    background: #fff;

    -webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.2);
    box-shadow: 0 1px 20px rgba(0,0,0,0.2);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
@media all and (max-width: 480px){
    #sbspf_modal_overlay .sbspf_modal{
        max-width: 100%;
        margin: 0 0 0 -50%;
        box-sizing: border-box;
    }
}
.sbspf_emphasis {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.sbspf_emphasis svg {
    height: 14px;
}
.sbspf_modal_message h3 {
    font-size: 14px;
}
.sbspf_modal .sbspf_modal_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 14px;
    color: #ccc;
    margin: 0;
}
.sbspf_modal .sbspf_modal_close:focus,
.sbspf_modal .sbspf_modal_close:hover{
    color: #333;
}

/* SW Specific */
.sbspf_setting_wrap {
    margin-bottom: 10px;
}
.sbsw-date-text-setting-wrap {
    display: inline-block;
    margin-right: 10px;
}
.sbsw-date-text-setting-wrap >input {
    width: 50px;
}

/* Configure */
.sbsw-active-plugins-wrap {
    margin-bottom: 10px;
}
.sbsw-add-plugin-button-wrap {
    display: inline-block;
    margin-right: 5px;
}
.sbsw-add-plugin-button-wrap button {
    padding: 10px 15px;
    font-size: 16px;
    background: #fff;
    opacity: .7;
    border: 1px solid;
}
.sbsw-add-plugin-button-wrap button:hover {
    cursor: pointer;
    opacity: 1;
}

.sbsw-active-accounts {
    width: 100%;
    overflow: hidden;
}
.sbsw-default-feed-wrap {
    position: relative;
    float: left;
    width: 24%;
    max-width: 320px;
    margin-right: 1%;
    padding: 20px;
    background: rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;

    box-sizing: border-box;
}
.sbsw-default-feed-wrap strong,
.sbsw-default-feed-wrap span{
    display: block;
}
.sbsw-default-feed-wrap h4{
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.sbsw-feed-settings .sbsw-feed-type h4{
    font-size: 14px;
    padding: 5px 0 10px 0;
    margin: 0 10px 0 0;
    display: inline-block;
}
.sbsw-default-feed-wrap.sbsw-exclude *{
    opacity: 0.7;
    pointer-events: none;
}
.sbsw-default-feed-wrap.sbsw-exclude .sbsw-platform-label,
.sbsw-default-feed-wrap.sbsw-exclude .sbsw-platform-label *{
    opacity: 1;
    pointer-events: all;
}
.sbsw-types-checkbox-wrap{
    width: 100%;
    padding: 5px 0;
}
.sbsw-types-checkbox-wrap input[type=radio]{
    position: relative;
    top: 2px;
}

h4.sbsw-platform-name{
    padding: 0 0 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.sbsw-default-feed-wrap h4 svg{
    display: inline-block;
    margin-right: 7px;
    height: 16px;
    position: relative;
    top: 2px;
}
button.button.sbsw-add-remove-plugin{
    float: right;
}
.sbsw-default-feed-wrap button.button{
    background: rgba(255,255,255,0.3);
}
.sbsw-default-feed-wrap button.button:hover,
.sbsw-default-feed-wrap button.button:active{
    background: rgba(255,255,255,0.8);
}
.sbsw-add-remove-plugin svg{
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    position: relative;
    top: 2px;
}
.sbsw-feed-settings{
    padding: 20px 0 0 0;
}
.sbsw-feed-settings h4{
    font-size: 14px;
    padding: 5px 0 10px 0;
    margin: 0;
}
.sbsw-connected-accounts-wrap{
    overflow: hidden;
}
.sbsw-connected-accounts-inner{
    padding-top: 20px 2px 2px 2px;
    max-height: 500px;
    overflow-y: auto;
}
.sbsw-connected-accounts-inner h4{
    margin-top: 15px;
}
.sbsw-connected-accounts-wrap .sbsw-connected-account p{
    float: left;
    padding: 0 70px 0 0;
    margin: 0;
    line-height: 1.2;
}
.sbsw-connected-account{
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 0;
    min-height: 35px;
    box-sizing: border-box;
}
.sbsw-instagram .sbsw-connected-account p {
    padding-top: 5px;
}
.sbsw-connected-account.sbsw-selected p{
    /*background: #dceada;*/
    font-weight: bold;
    color: #407b40;
}
.sbsw-connected-account p span{
    font-weight: normal;
    font-size: 11px;
}

.sbsw-platform-label{
    width: 100%;
    overflow: hidden;
    padding: 5px;
    margin: 0 0 20px 0;
    box-sizing: border-box;

    background: #dceada;
    border: 1px solid #6ca365;
    color: #3e5f1c;
    border-radius: 3px;
}
.sbsw-exclude .sbsw-platform-label{
    background: #F7E6E6;
    border: 1px solid #BA7B7B;
    color: #592626;
}
.sbsw-platform-label span{
    display: block;
    float: left;
    line-height: 30px;
    font-weight: bold;
    padding: 0 0 0 5px;
}
.sbsw-platform-label span svg{
    width: 14px;
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.sbsw-platform-label .sbsw-removed{
    display: none;
}
.sbsw-exclude .sbsw-platform-label .sbsw-removed{
    display: block;
}
.sbsw-exclude .sbsw-platform-label .sbsw-added{
    display: none;
}


.sbsw-connected-account .sbsw-add-remove-account{
    position: absolute;
    right: 0;
    padding: 0 8px;
    line-height: 1;
    min-height: 25px;
    font-size: 12px;
}
.sbsw-connect-account-btn{
    width: 100%;
    float: left;
    clear: both;
    margin: 20px 0 0 0;
}
.sbsw-active-accounts #sbi_config{
    margin: 0;
}

.sbsw-connected-accounts-wrap #sbi_admin{
    margin: 5px 0 0 0;
}
#sbspf_admin #sbi_admin .sbi_admin_btn i {
    display: none;
}
#sbspf_admin #sbi_admin .sbi_admin_btn,
#sbspf_admin .sbsw-default-feed-wrap #cff-admin .cff_admin_btn,
#sbspf_admin #ctf-admin #ctf-get-token,
#sbspf_admin .sbsw-default-feed-wrap #sby_admin a {
    display: block;
    width: 100%;
    padding: 10px 0;
    height: auto;
    line-height: 1;
    font-size: 14px;
    background-image: none !important;
    color: #e9eef3;
    text-align: center;
}
#sbspf_admin #sbi_admin.sbsw-connect-account-btn-small #sbi_config > .sbi_admin_btn,
#sbspf_admin #cff-admin.sbsw-connect-account-btn-small .cff_admin_btn,
#sbspf_admin #ctf-admin.sbsw-connect-account-btn-small #ctf-get-token,
#sbspf_admin #sby_admin.sbsw-connect-account-btn-small #sbspf_get_token {
    display: inline-block;
    font-size: 12px;
    padding: 8px 16px 10px 10px;
    width: auto;
    margin: 10px 0 0 0;
    line-height: 1;
    height: auto;
}
#sbspf_admin #cff-admin.sbsw-connect-account-btn-small .cff_admin_btn {
    padding-left: 16px;
}
#sbspf_admin #sbi_admin .sbi_admin_btn i,
#sbspf_admin #cff-admin .cff_admin_btn i,
#sbspf_admin #ctf-admin #ctf-get-token i{
    display: none;
}
#sbspf_admin #ctf_config{
    margin: 15px 0 0 0;
}
#sbspf_admin #ctf-admin #ctf-get-token .ctf-connect-btn-text{
    display: none;
}
#sbspf_admin #ctf-admin #ctf-get-token .sbsw-btn-text{
    display: block !important;
}
#sbspf_admin #sby_admin{
    float: left;
    width: 100%;
    clear: both;
    margin: 15px 0 0 0;
}
#sbspf_admin #sby_admin #sbspf_get_token{
    box-sizing: border-box;
    background: #f5413d;
}
#sbspf_admin #sby_admin #sbspf_get_token:hover{
    background: #dc2622;
}
#sbspf_admin #sbi_admin .sbi_admin_btn{
    background: linear-gradient(0deg, #e15073 0%, #e26258 100%) !important;
}
#sbspf_admin #sbi_admin .sbi_admin_btn:hover{
    background: linear-gradient(0deg, #c32e52 0%, #cc443a 100%) !important;
}
 #sbspf_admin #cff-admin .cff_admin_btn:hover{
    background: #254e75;
 }

.sbsw-text-input-wrap input{
    width: 100%;
    box-sizing: border-box;
}
.sbsw-text-input-wrap{
    padding-top: 20px;
}
.sbsw-text-input-instructions {
    font-size: 12px;
    line-height: 1.2;
    padding: 5px 0 0 3px;
    font-style: italic;
}

.sbsw-plugin-missing .sbsw-content{
    text-align: center;
}
.sbsw-system-info{
    width: 100%;
    max-width: 930px;
    height: 200px;
    white-space: pre;
    font-family: Menlo,Monaco,monospace;
}
textarea[readonly].sbsw-multiple-shortcode{
    width: 100%;
    max-width: 932px;
    height: 132px;
    padding: 5px 10px;
    background: rgba(0,0,0,0.05);
    border: none;
    resize: none;
}


.sbsw-default-feed-wrap #sbi_admin button.button{
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
}
.sbsw-default-feed-wrap button.button:hover,
.sbsw-default-feed-wrap button.button:active{
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    opacity: .7;
}



.ctf-btn-orange {
  background: #FE544F!important;
  color: #fff!important;
}
.ctf-fb-btn-new {
  position: relative;
  float: left;
  margin-left: 20px;
  font-size: 12px;
  padding: 8px 12px 8px 32px;
  font-weight: 700;
}
.ctf-fb-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  outline: none;
  box-shadow: none;
  border: none;
}

/*
    Help Popup Create New Feed
*/
.sbsw-createfeed-fs{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    display: none;
}
.sbsw-createfeed-popup{
    position: absolute;
    top: 140px;
    left: 50%;
    width: 480px;
    margin: 0 0 0 -245px;
    padding: 25px 35px;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
    border-radius: 3px;
}
.sbsw-createfeed-popup > img{
    margin-top: 30px;
}
.sbsw-createfeed-popup h3{
    font-size: 18px;
    margin-top: 35px;
}
.sbsw-createfeed-popup p{
    font-size: 15px;
    padding: 0 30px;
}

.sbsw-createfeed-popup .button-secondary{
    color: #141B38;
    border-color: #DCDDE1;
}
.sbsw-createfeed-popup-btns{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 1%;
    margin-top: 35px;
    margin-bottom: 15px;
}
.sbsw-createfeed-popup[data-loading="true"] .sbsw-createfeed-popup-btns{
    grid-template-columns: 99%;
}
.sbsw-createfeed-popup[data-loading="true"] [data-hideon-loading="true"],
[data-hideon-loading="false"]{
    display: none;
}
.sbsw-createfeed-popup[data-loading="true"] [data-hideon-loading="false"]{
    display: inline-block;
}

.sbsw-createfeed-popup-btns a{
    padding: 3px 10px !important;
}
.sbsw-createfeed-cls{
    position: absolute;
    width: 22px;
    height: 22px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    opacity: .8;
}
.sbsw-createfeed-cls:hover{
    opacity: 1;
}
.sbsw-createfeed-cls:before,
.sbsw-createfeed-cls:after{
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    top: 9px;
    left: 2px;
    background: #8C8F9A;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sbsw-createfeed-cls:after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.sbsw-plg-name{
    text-transform: capitalize;
}
.sbsw-createfeed-loader{
    height: 4px;
    width: 0px;
    position: absolute;
    background: #FE544F;
    left: 0px;
    top: 0px;
     -webkit-transition: width 3s linear;
    transition: width 3s linear;
}
.sbsw-createfeed-popup[data-loading="true"] .sbsw-createfeed-loader{
    width: 100%;
}
.sbsw-createfeed-img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 1.18939px rgba(0, 0, 0, 0.35), 0px 1.41301px 6.52977px rgba(0, 0, 0, 0.12);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    text-align: center;
    line-height: 1em;
    margin-top: 35px;
}


.sbsw-createfeed-img .sbsw-createfeed-smash-icon{
    position: absolute;
    width: 29px;
    bottom: -20px;
    right: -15px;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}
.sbsw-createfeed-plugin-icon{
    display: inline-block;
}
.sbsw-createfeed-plugin-icon svg{
    width: 32px;
    margin-top: 13px;
}
.sbsw-createfeed-plugin-icon svg[data-plugin="youtube"]{
    margin-top: 18px;
}

.sbsw-createfeed-plugin-icon svg[data-plugin="twitter"]{
    margin-top: 17px;
}